@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Valorant';
    src: url('/public/fonts/Valorant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
